/* Creating custom variable on root of the page */
:root {
    --pagefontcolor: darkorchid;
    --customfontcontentcolor: white;
    --paddingvalue : 20px;
}

/* Universal selectors */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    background-color: black;
    color: var(--pagefontcolor);

}

/* Element selectors */
html {
    height: 100%;
    width: 100%;
    margin: 0;
}

body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;    
    
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    /* 
    display: flex;
    flex-direction: column;
    flex-wrap: wrap; */

}

header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    /* padding: var(--paddingvalue); */
    margin-top: 10px;
    
    
}

main {
    padding: 0px;
    /* text-align: left; */
    /* display: flex;
    flex-wrap: wrap;
    flex-direction: column; */
    /* align-items: stretch; */
    /* align-content: center; */
}

footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: var(--paddingvalue);
}

section {
    /* margin: 20px;
    padding: var(--paddingvalue); */
    display: flex;
    flex-direction: row;   
    flex-wrap: wrap;
    justify-content:space-evenly;
    /* flex: 0 0 100px; */
     /* align-items: center;
    justify-content: center; */ */
}

article {
    margin: 20px;
    
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    position: relative;     
    
   
}

pre {
    color: var(--customfontcontentcolor);
    background-color: var(--pagefontcolor);
    padding: var(--paddingvalue);
}


h1 {    
    font-size: 2em;    
}

h2 {    
    font-size: 1.5em;
}

h3 {    
    font-size: 1.17em;
}

h4 {
    
    font-size: 1 em;
}

h5 {
    
    font-size: 0.8em;
}

h6 {
   
    font-size: 0.7em;
}

div{
    display: flex;  
    flex-direction: column; 
    flex-wrap: wrap;
    border-left-width: 1px;
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-top-width: 0;
    border-color: var(--customfontcontentcolor);
    border-style: dashed;
    padding: var(--paddingvalue);  
    
}


/*Class selectors*/
.cssIntroduction p {
    margin-top: 10px;
    margin-bottom: 10px;
    color: var(--customfontcontentcolor);
    font-size : 0.8em;
    text-align: left;
    
}

div p {
    color: var(--pagefontcolor);
    font-size: 0.8em;
    text-align: left;
    margin-top: 10px;
    margin-bottom: 10px;
    
    
}

.artHeader{
    border: 1px;
    border-style: solid;
    border-color: var(--customfontcontentcolor);
    border-radius: 5%;
 
    padding: var(--paddingvalue);
   
}


