/* Creating custom variable on root of the page */
:root {
    --pagefontcolor: rgba(208, 86, 224, 0.6) ;
    --customfontcontentcolor: white;
    --paddingvalue : 20px;
}

/* Universal selectors */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    background-color: black;
    color: var(--pagefontcolor);

}

/* Element selectors */
html {
    height: 100%;
    width: 100%;
    margin: 0;
}

body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;    
    
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    /* 
    display: flex;
    flex-direction: column;
    flex-wrap: wrap; */

}

header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    /* padding: var(--paddingvalue); */
    margin-top: 10px;
    
    
}

main {
    padding: 0px;
    /* text-align: left; */
    /* display: flex;
    flex-wrap: wrap;
    flex-direction: column; */
    /* align-items: stretch; */
    /* align-content: center; */
}

footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: var(--paddingvalue);
}

section {    
    display: flex;
    flex-direction: row;   
    flex-wrap: wrap;
    justify-content:space-evenly;
    /* flex: 0 0 100px; */
   
}

article {

    margin: 20px;    
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    position: relative;     
    
   
}

pre {
    color: var(--customfontcontentcolor);        
    padding: var(--paddingvalue);
}

.linear-gradient-background {
    background-image: linear-gradient(rgba(150, 29, 150, 0.3)0%,rgba(208, 86, 224, 0.6)100%);
}


h1 {    
    font-size: 2em;    
}

h2 {    
    font-size: 1.5em;
}

h3 {    
    font-size: 1.17em;
     border: 1px;
    border-style: solid;
    border-color: var(--customfontcontentcolor);
    border-radius: 5%; 
    text-align: left;
    padding-right: 100px;
    padding-top: 10px;
    padding-bottom: 20px;
    border-radius: 8px;
    transition : all 5s ease-in-out;
   
}

h4 {
    
    font-size: 1 em;
}

h5 {
    
    font-size: 0.8em;
}

h6 {
   
    font-size: 0.7em;
}

div{
    display: flex;  
    flex-direction: column; 
    flex-wrap: wrap;
    border-left-width: 1px;
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-top-width: 1px;
    border-color: var(--customfontcontentcolor);
    border-style: dashed;
    padding: 0px;
    
}


/*Class selectors*/
.cssIntroduction p {
    margin-top: 10px;
    margin-bottom: 10px;
    color: var(--customfontcontentcolor);
    font-size : 0.8em;
    text-align: left;
    
}

div p {
    color: var(--pagefontcolor);
    font-size: 0.8em;
    text-align: left;
    margin-top: 10px;
    margin-bottom: 10px;
    
    
}

.artHeader{
    position: relative;
    margin-top: -15px;
    border-radius: 8px;
    transition : all 5s ease-in-out;
   
}

.grid-container{
    display:grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto;
}

/* When using `max-width` as the breakpoint, you must go from widest to narrowest to avoid conflict */

/* Tablets - header changes color */
@media screen and (max-width: 992px) {
    .grid-container{
        display:grid;
        grid-template-columns: auto auto;
        grid-template-rows: auto auto;
    }
    
  }
  
  /* Large smartphones - navbar changes color */
  @media screen and (max-width: 768px) {
    .grid-container{
        display:grid;
        grid-template-columns: auto;
        grid-template-rows: auto;
    }
    
  }
  
  /* Small smartphones - image placeholders change color */
  @media screen and (max-width: 576px) {
    .grid-container{
        display:grid;
        grid-template-columns: auto;
        grid-template-rows: auto;
    }
  }

  h3:hover, .artHeader:hover{
    box-shadow : inset 0px 0px 8px rgba(208, 86, 224, 0.6),0 0 15px rgba(208, 86, 224, 0.6);
  }

  